<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<title>优惠券领取</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="/static/assets/css/style.css" />
	</head>

	<body class="coupons-index activity-B">

		<div class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<div class="coupons activity-b">
					<div class="card">
						<div class="card-header">
							<span class="header-bg bg-l"></span>
							<span class="header-title">适用门店</span>
							<span class="header-bg bg-r"></span>
						</div>
						<div class="card-body">
							<ul class="mui-table-view store-list">
								<li class="mui-table-view-cell store-list-item">
									<div class="mui-row">
										<div class="mui-pull-left seller-banner"><img src="/static/assets/images/store_image2.png" /></div>
										<div class="mui-pull-left seller-info">
											<h2 class="seller-name">长久国际俱乐部</h2>
											<h3 class="seller-tel"><a href="tel:15342358059">15342358059</a></h3>
										</div>
									</div>

									<div class="seller-address">
										<div class="mui-row">
											<div class="mui-col-xs-8">地址：湖北省武汉市硚口区解放大道1127号</div>
											<div class="mui-col-xs-4"><span id="IpAddress" class="ip-address">使用导航</span></div>
										</div>

									</div>
								</li>
								<li class="mui-table-view-cell store-list-item">
									<div class="mui-row">
										<div class="mui-pull-left seller-banner"><img src="/static/assets/images/store_image2.png" /></div>
										<div class="mui-pull-left seller-info">
											<h2 class="seller-name">长久国际俱乐部</h2>
											<h3 class="seller-tel"><a href="tel:15342358059">15342358059</a></h3>
										</div>
									</div>

									<div class="seller-address">
										<div class="mui-row">
											<div class="mui-col-xs-8">地址：湖北省武汉市硚口区解放大道1127号</div>
											<div class="mui-col-xs-4"><span id="IpAddress" class="ip-address">使用导航</span></div>
										</div>

									</div>
								</li>
							</ul>
						</div>
						<div class="card-footer">
							<button type="button" class="mui-btn mui-btn-default mui-btn-block btn-get-coupon">下单付款</button>
						</div>
						<input type='hidden' id="coupon_status" value="">
						<input type='hidden' id="coupon_code" value="">
					</div>
				</div>
			</div>
		</div>

		<script src="/static/assets/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/assets/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/assets/js/jweixin-1.2.0.js" type="text/javascript"></script>
		<script src="/static/assets/js/base.js" type="text/javascript" charset="utf-8"></script>

	</body>

</html>