{include file="public/header"/}

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <!--<div class="alert alert-danger alert-dismissable">-->
        <!--<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>-->
        <!--<div>尊敬的会员<span id="weather"></span></div>-->
    <!--</div>-->

    <!-- 上方tab -->
    <div class="row">
    <div class="col-sm-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">日</span>
                <span class="label pull-right">周</span>
                <span class="label  pull-right">月</span>
                <h5>昨日新增用户</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{$new_user}</h1>
                <small>新增</small>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <!--<a href="#question">-->
                    <!--<i class="fa fa-question" style="color:red;margin-left:10px" data-container="body" data-toggle="popover" data-placement="bottom"-->
                       <!--data-content="日活跃用户 = 当日登录游戏的用户 - 当日新增用户数(去重)@@@@@@@@月活跃用户 = 最近30天登录游戏的用户 - 最近30天新增用户(去重)"></i>-->
                <!--</a>-->
                <!--<span class="label pull-right">日</span>-->
                <!--<span class="label pull-right">周</span>-->
                <!--<span class="label  pull-right">月</span>-->
                <h5>用户数量</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">{$usernum}</h1>
                <small>总用户</small>
            </div>
        </div>
    </div>
</div>

    <!-- 中间折线 -->
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-cogs"></i> 系统信息
                    </div>
                    <div class="panel-body">
                        <p><i class="fa fa-sitemap"></i> 框架版本：ThinkPHP{$info.think_v}
                        </p>
                        <p><i class="fa fa-windows"></i> 服务环境：{$info.web_server}
                        </p>
                        <p><i class="fa fa-warning"></i> 上传附件限制：{$info.onload}
                        </p>
                        <p><i class="fa fa-credit-card"></i> PHP 版本：{$info.phpversion}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-cogs"></i> 系统信息
                    </div>
                    <div class="panel-body">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="http://www.yingyibao.vip" target="_blank">http://www.yingyibao.vip</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ：<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=1096185556&amp;site=qq&amp;menu=yes" target="_blank">1234566</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;">1234566</a>
                        </p>
                        <p><i class="fa fa-fax"></i> 运维电话：<a href="javascript:;" class="运维电话">1234566</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{include file="public/footer" /}
<script src="/static/admin/js/jquery.leoweather.min.js"></script>

<script type="text/javascript">
//    $(function () {
//        //加载新浪天气插件
////        $('#weather').leoweather({format:'，{时段}好！<span id="colock">现在时间是：<strong>{年}年{月}月{日}日 星期{周} {时}:{分}:{秒}</strong>，</span> <b>{城市}天气</b> {天气} {夜间气温}℃ ~ {白天气温}℃'});
//        var myDate = new Date();
//        var year = myDate.getFullYear();    //获取完整的年份(4位,1970-????)
//        var month = myDate.getMonth() + 1;       //获取当前月份(0-11,0代表1月)
//        var day = myDate.getDate() -1 ;
//        var stime = year + '-' + month + '-' + day + " 00:00:00";
//        var etime =  year + '-' + month + '-' + day + " 23:59:59";
//        //点击昨日订单跳转
//        $('#total_order_link').click(function () {
//            location.href = "/admin/mall_order/index?starttime=" + stime + "&endtime="+ etime;
//        })
//        //跳待发货订单
//        $('#order_unfinished_link').click(function () {
//            location.href = "{:url('/admin/mall_order/index',['order_status'=>2])}";
//        })
//    })

</script>

</body>
</html>
